body, input, button, label, textarea, a {
    font-family: 'Consolas', monospace !important;
}

/* Específicamente para Material-UI (opcional) */
.MuiTypography-root,
.MuiInputBase-input,
.MuiButton-root,
.MuiInputLabel-root {
    font-family: 'Consolas', monospace !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #5f4bb6 inset !important;
    -webkit-text-fill-color: #F7FFF7 !important;
    caret-color: #F7FFF7 !important;
}

/* Cambiar color del borde cuando hay error */
.MuiFormControl-root .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #F7B801 !important;
  }
  
  /* Cambiar color del texto del helperText cuando hay error */
  .MuiFormHelperText-root.Mui-error {
    color: #F7B801 !important;
  }
  
  /* Cambiar color del label cuando hay error */
  .MuiFormLabel-root.Mui-error {
    color: #F7B801 !important;
  }

  @keyframes pulse-highlight {
    0% { box-shadow: 0 0 0px 0px #F7B801; }
    50% { box-shadow: 0 0 10px 5px #F7B801; }
    100% { box-shadow: 0 0 0px 0px #F7B801; }
  }
  
  .highlight {
    animation: pulse-highlight 2s ease-in-out;
  }

  #background-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    background: #202A25;
}

.invader {
    position: absolute;
    color: #39FF14;
    font-size: 24px;
    animation: floatDown 15s linear infinite;
    opacity: 0.3;
}

@keyframes floatDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(120vh);
    }
}

  
  
  